<div class="form">
    <form action="/api/updateInfo" method="post">
        <div class="container">
            <hr>

            <input type="hidden" name="user_id" value={{user._id}}>
            <label for="name"><b>Name</b></label>
            <input type="text" name="name" id="name" value="{{user.name}}">

            <label for="dob"><b>Date of Birth</b></label>
            <input type="text" name="dob" id="dob" value="{{user.dob}}">

            <label for="email"><b>Email</b></label>
            <input type="text" name="email" id="email" value="{{user.email}}">

            <label for="telephone"><b>Telephone</b></label>
            <input type="text" name="telephone" id="telephone" value="{{user.telephone}}">

            <label for="education"><b>Education</b></label>
            <input type="text" name="education" id="education" value="{{user.education}}">

            <label for="bio"><b>Bio</b></label>
            <input type="text" name="bio" id="bio" value="{{user.bio}}">

            <hr>

            <button type="submit" class="btn" onclick="window.location.href='/api/getTrainer'">Update</button>
            <button type="submit" class="btn" onclick="window.location.href='/api/getTrainer'">Cancel</button>
        </div>
    </form>
</div>