<div class="form">
    <form action="/api/getTrainee">
        <div class="container">
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" name="name" id="name" disabled="disabled" value={{trainee.name}}>

            <label for="dob"><b>Date of Birth</b></label>
            <input type="text" name="dob" id="dob" disabled="disabled" value={{trainee.dob}}>

            <label for="email"><b>Email</b></label>
            <input type="text" name="email" id="email" disabled="disabled" value={{trainee.email}}>

            <label for="telephone"><b>Telephone</b></label>
            <input type="text" name="telephone" id="telephone" disabled="disabled" value={{trainee.telephone}}>

            <label for="education"><b>Education</b></label>
            <input type="text"name="education" id="education" disabled="disabled" value={{trainee.education}}>

            <label for="toeicscore"><b>TOEIC Score</b></label>
            <input type="text" name="toeicscore" id="toeicscore" disabled="disabled" value={{trainee.toeicscore}}>

            <label for="programlanguage"><b>Program Language</b></label>
            <input type="text" name="programlanguage" id="programlanguage" disabled="disabled" value={{trainee.programlanguage}}>

            <label for="bio"><b>Bio</b></label>
            <input type="text" name="bio" id="bio" disabled="disabled" value={{trainee.bio}}>

            <hr>

            <button type="submit" class="btn">Update Password</button>
        </div>
    </form>
</div>