<div class="form">
    <form action="/admin/updateAccount" method="post">
        <div class="container">
            <hr>
            <input type="hidden" name="user_id" value={{user._id}}>
            <label for="username"><b>Username</b></label>
            <input type="text" name="username" id="Username" required value={{user.username}}>

            <label for="password"><b>Password</b></label>
            <input type="password" name="new_password" id="psw" required value={{user.password}}>

            <label class="label">Role</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="role">
                    <option disabled="disabled" selected="selected">Choose option</option>
                        {{#each roles}}
                            <option value={{this}}>{{this}}</option>
                        {{/each}}
                </select>
                <div class="select-dropdown"></div>
            </div>
            <hr>

            <button type="submit" class="btn" onclick="window.location.href='/admin/getAccount'">Update</button>
            <button type="submit" class="btn" onclick="window.location.href='/admin/getAccount'">Cancel</button>
        </div>
    </form>
</div>
