<div class="form">
    <form action="/staff/addCourseToUser" method="post">
        <div class="container">
            <hr>

<!--            {{#each course}}-->
<!--                <input type="text" name="course_id" value={{course._id}}>-->
<!--            {{/each}}-->
<!--            {{#each trainer}}-->
<!--                <input type="text" name="trainer_id" value={{trainer._id}}>-->
<!--            {{/each}}-->
<!--            {{#each trainee}}-->
<!--                <input type="text" name="trainee_id" value={{trainee._id}}>-->
<!--            {{/each}}-->

            <label class="label">Course</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="course_id">
                    <option disabled="disabled" selected="selected">Choose option</option>
                    {{#each course}}
                        <option  value={{_id}}>{{name}}</option>
                    {{/each}}
                </select>
                <div class="select-dropdown"></div>
            </div>

            <label class="label">Trainer</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="trainer_id">
                    <option disabled="disabled" selected="selected">Choose option</option>
                    {{#each trainer}}
                        <option value={{_id}}>{{name}}</option>
                    {{/each}}
                </select>
                <div class="select-dropdown"></div>
            </div>

            <label class="label">Trainee</label>
            <div class="rs-select2 js-select-simple select--no-search">
                <select name="trainee_id" multiple="multiple">
                    <option disabled="disabled" selected="selected">Choose option</option>
                    {{#each trainee}}
                        <option value={{_id}}>{{name}}</option>
                    {{/each}}
                </select>
                <div class="select-dropdown"></div>
            </div>
            <hr>

            <button type="submit" class="btn" onclick="window.location.href='/home'">Add</button>
            <button type="submit" class="btn" onclick="window.location.href='/home'">Cancel</button>
        </div>
    </form>
</div>

<script>

</script>