<style>

    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    body{
        background: #f2f2f2 !important;
        font-family: 'Open Sans', sans-serif !important;
    }

    .search {
        width: 100% !important;
        position: relative !important;
        display: flex !important;
    }

    .searchTerm {
        width: 100% !important;
        border: 3px solid #00B4CC !important;
        border-right: none !important;
        padding: 15px !important;
        height: 20px !important;
        border-radius: 5px 0 0 5px !important;
        outline: none !important;
        color: #9DBFAF !important;
    }

    .searchTerm:focus{
        color: #00B4CC !important;
    }

    .searchButton {
        width: 40px !important;
        height: 36px !important;
        border: 1px solid #00B4CC !important;
        background: #00B4CC !important;
        text-align: center !important;
        color: #fff !important;
        border-radius: 0 5px 5px 0 !important;
        cursor: pointer !important;
        font-size: 20px !important;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap{
        width: 30% !important;
        position: absolute !important;
        top: 50% !important;
        left: 50% !important ;
        transform: translate(-50%, -50%) !important;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        /*background-color: #04AA6D;*/
        color: white;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2;}

    tr:hover {background-color: #ddd;}

</style>

<div class="form">
    <a href="/staff/addCourse">
        <button type="submit" class="btn add">Add Course</button>
    </a>
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <form action="/staff/searchCourse" method="post">
        <input type="text" class="find" name="query" placeholder="Search..">
        <input type="submit">
    </form>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each course}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.category.name}}</td>
                <td>
                    <button class="btn add" onclick="window.location.href='/staff/updateCourse?course_id={{_id}}'"
                    >Update</button>
                </td>
                <td>
                    <button class="btn add" onclick="onDelete('{{_id}}')">Delete</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<script>
    function onDelete(user_id) {
        try {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "delete_id": user_id
            });

            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("/staff/deleteCourse", requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        window.location.reload();
                        console.log(result)
                    })
                    .catch(error => console.log('error', error));
        } catch (e) {
            console.log(e);
        }
    }
</script>