<style>
    input[type=text], select {
        width: 88%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
</style>

<div class="form">

    <form action="/api/getTrainer">
        <input id="searchfield" type="text" class="find" name="query" placeholder="Search..">
        <button type="submit" class="btn add" onsubmit=searchUser()>Search</button>
    </form>

    <table>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Education</th>
            <th>Bio</th>
            <th>Assign Course From User</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each user}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.name}}</td>
                <td>{{this.dob}}</td>
                <td>{{this.email}}</td>
                <td>{{this.telephone}}</td>
                <td>{{this.education}}</td>
                <td>{{this.bio}}</td>
                <td>
                    <a class="btn" href='/api/viewCourseAssigned?user_id={{_id}}'>View</a>
                </td>
                <td>
                    <a class="btn add" href='/api/updateInfo?user_id={{_id}}'>Update</a>
                </td>
                <td>
                    <a class="btn add" onclick="onDelete('{{_id}}')">Delete</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<script>
    function onDelete(user_id) {
        try {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "delete_id": user_id
            });

            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("/staff/deleteAccount", requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        window.location.reload();
                        console.log(result)
                    })
                    .catch(error => console.log('error', error));
        } catch (e) {
            console.log(e);
        }
    }
</script>