

<div class="form">
    <a href="/staff/createAccount">
        <button type="submit" class="btn add">Add new User</button>
    </a>
    <form action="/api/getTrainee">
        <input id="searchfield" type="text" class="find" name="query" placeholder="Search..">
        <button type="submit" class="btn add" onsubmit=searchUser()>Search</button>
    </form>
    <table>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Education</th>
            <th>TOEIC Score</th>
            <th>Main Language</th>
            <th>Bio</th>
            <th>Course</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each user}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.name}}</td>
                <td>{{this.dob}}</td>
                <td>{{this.email}}</td>
                <td>{{this.telephone}}</td>
                <td>{{this.education}}</td>
                <td>{{this.toeicscore}}</td>
                <td>{{this.programlanguage}}</td>
                <td>{{this.bio}}</td>
                <td>
                    {{#each courseAssign}}
                        {{this.name}} <br>
                    {{/each}}
                </td>
                <td>
                    <a class="btn add" href='/api/updateInfo?user_id={{_id}}'>Update</a>
                </td>
                <td>
                    <a class="btn add" onclick="onDelete('{{_id}}')">Delete</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>

<script>
    function onDelete(user_id) {
        try {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "delete_id": user_id
            });

            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("/staff/deleteAccount", requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        window.location.reload();
                        console.log(result)
                    })
                    .catch(error => console.log('error', error));
        } catch (e) {
            console.log(e);
        }
    }

    function searchUser() {
        const query = document.getElementById("searchfield").value
        var myHeaders = new Headers();
        myHeaders.append("Cookie", "connect.sid=s%3AB5qcQ_O0Xs6QfcmBSu6x6H6CD0dxlDDz.B1Y1k4rKPEbEpRIt%2FDJ5gb%2FxP6KueZANOGTM0M8pt%2B4");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };

        fetch(`http://localhost:8080/api/getTrainee?query=${query}`, requestOptions)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));
    }
</script>