<div class="form">
    <a href="/staff/createAccount">
        <button type="submit" class="btn add">Add new User</button>
    </a>
    <input type="text" class="find" placeholder="Search..">
    <table>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Education</th>
            <th>TOEIC Score</th>
            <th>Main Language</th>
            <th>Bio</th>
            <th>Course</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {{#each user}}
            <tr>
                <th>{{this.username}}</th>
                <th>{{this.name}}</th>
                <th>{{this.dob}}</th>
                <th>{{this.email}}</th>
                <th>{{this.telephone}}</th>
                <th>{{this.education}}</th>
                <th>{{this.toeicscore}}</th>
                <th>{{this.programlanguage}}</th>
                <th>{{this.bio}}</th>
                <th>
                    {{#each courseAssign}}
                        {{this.name}} <br>
                    {{/each}}
                </th>
                <th>
                    <button class="btn">Update</button>
                </th>
                <th>
                    <button class="btn" onclick="onDelete('{{_id}}')">Delete</button>
                </th>
            </tr>
        {{/each}}
    </table>
</div>

<script>
    function onDelete(user_id) {
        try {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            const raw = JSON.stringify({
                "delete_id": user_id
            });

            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("/staff/deleteAccount", requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        window.location.reload();
                        console.log(result)
                    })
                    .catch(error => console.log('error', error));
        } catch (e) {
            console.log(e);
        }
    }
</script>